/* START NAVBAR */
.navcolor {
    background-color: #6883bc;
}
.navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 250px;
}

ul {
    display: inline-block;
}

.nav-menu {
    margin: 0px;
    padding: 0px;
    list-style: none;
    left: 0px;
}

.links {
    padding-top: 50px;
}

.padding-l{
    padding-top: 20%;
}
.nav-link:hover {
    color: #8a307f;
}

.nav-link {
    color: white;
}
/* END NAVBAR */


.main {
    margin-left: 250px;
    padding: 0px 50px 0px 50px;
}

.main-align {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.justify-content-center-padd {
    padding-top: 50vh;
}

.justify-content-center-marg {
    margin-top: 50vh;
}

.h1Txt {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
}

.h3Txt {
    font-size: 2vw;
    letter-spacing: 0.2em;
}

   /* CSS */

.button-52 {
   font-size: 20px;
   font-weight: 200;
   color: #FFFFFF;
   letter-spacing: 1px;
   padding: 13px 20px 13px;
   outline: 0;
   border: 1px solid black;
   cursor: pointer;
   position: relative;
   background-color: rgba(0, 0, 0, 0);
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   margin-bottom: 50px;
    margin-right: 20px;
}

.button-52:after {
    content: "";
    background-color: #8a307f;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.button-52:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    .button-52 {
        padding: 13px 50px 13px;
    }
}


.competence {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    margin: 30px 30px 20px 0px;
}

.flex-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section-title {
    padding-top: 50px;
}