html {
    height:100%
}

body {
    height: 100%;
}

main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

/* START NAVBAR */
.navbar {
    background-color: #6883bc;
    width: 250px;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    position: inherit;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .navbar {
        position: absolute;
        height: 100vh;
        transition: left 150ms linear;
        clear: both;
        display: flex;
        flex-direction: row;
        z-index: 1;
    }

    .navbar-toggler {
        position: fixed;
        top: 0;
        right: 0;
    }

    .navbar:has(> .navbar-collapse:not(.show)) {
        left: -250px;
    }

    .navbar:has(> .navbar-collapse.show) {
        left: 0;
    }

    .nav-menu {
        list-style: none;
        top: 0;
        padding: 1rem !important;
    }

}


.nav-menu {
    list-style: none;
    padding: 0;
}

.links {
    padding-top: 3rem;
}

.nav-link:hover {
    color: #8a307f;
}

.nav-link {
    color: white;
}
/* END NAVBAR */


.defaultContainer {
    padding: 0px 50px 0px 50px;
    height: 100%;
    flex: 1;
    align-content: center;
    overflow-y: auto;
    position: inherit;
}

.main-align {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}


.h1Txt {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
}

.h3Txt {
    font-size: 2vw;
    letter-spacing: 0.2em;
}


   /* CSS */
.button-74 {
   background-color: #8a307f;
   border: 2px solid #422800;
   border-radius: 30px;
   box-shadow: #422800 4px 4px 0 0;
   color: #FFFFFF;
   cursor: pointer;
   display: inline-block;
   font-weight: 600;
   font-size: 18px;
   padding: 0 18px;
   line-height: 50px;
   text-align: center;
   text-decoration: none;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
    margin: 1rem;
}

.button-74:hover {
    background-color: #c443b5;
}

.button-74:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button-74 {
        min-width: 100px;
        padding: 0 15px;
    }
}

.langButton > .button-74 {
    height: 30px;
    line-height: 5px;
    font-size: 16px;
    margin: 5px;
}

.langButton {
    width: 100%;
    text-align: center;
}

.card {
    margin: 30px 30px 20px 0px;
}

.flex-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.borderBottom {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: darkgray;
    margin-bottom: 2rem;
}

.section-title {
    padding-top: 50px;
}

.img-mag > img{
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.copyright {
    background-color: #8a307f;
    height: 10%;
    width: 90%;
    color: white;
    align-content: center;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 4px;
    margin: 1rem;
}